body {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}	

#background {
	background-image: url('https://cdn.pixabay.com/photo/2016/10/07/14/39/space-1721679_960_720.jpg');
	background-position: bottom;
	background-size: cover;
	padding: 9em;
}

h2 {
	margin: 0;
	color: #d6d6d6;
	font-size: 3.25em;
}

nav ul {
  padding: 0;   
  list-style: none;
  text-align: center;
}

nav ul li {
	display: inline;
	padding: 20px;
}

header {
	color: #02e1e5;
}

#about2, #exp2, #proj2, #contact2 {
	padding: 2em;
}
#about2, #proj2 {
	background-color: #111111;
}

#exp2, #contact2 {
	background-color: #840101;
}
p {
	font-size: 1.25em;
	color: blue;
}

a {
	color: red;
} 
