body {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxu5cAPTqM2gjI9fcKj-CGh3hVHGJRU_Zb7mYdj6vmPXdpcAuTyw');
	background-position: center;
	background-size: cover;
}	

nav ul {
  padding: 0;   
  list-style: none;
  text-align: center;
}

p {
	font-size: 1.25em;
	color: blue;
}

header {
	color: #02e1e5;
}

#about {
	font-size: 2em;
}

a {
	color: yellow;
} 

div p {
	font-style: italic;
}